@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #020617; /* slate-950 */
  color: #f1f5f9; /* slate-100 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
